.tasklist {
    display: flex;
    flex-direction: column;
    gap: .3em;

    padding: .2em .4em;

    width: 70%;
}

.adding input,
.btn {
    padding: .3em .8em;

    border-style: none;
    border-radius: 6px;

    text-align: left;
    font-size: 1.2em;

    background-color: #eee;
}

.btn:hover {
    background-color: #ddd;

    cursor: pointer;
}

.add.btn {
    background-color: #e9e9ed;
}

.add.btn:hover {
    background-color: #ddd;
}

.adding input {
    border: 1px solid #aaa;
}

.add.btn div {
    display: flex;
    gap: .3em;

    font-size: 1.2em;
}

.add.btn div i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adding {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.controlls {
    display: flex;
    gap: .3em;
}

.controlls button {
    flex: 1 1;

    text-align: center;
}

.addTask {
    background-color: #aaffaa;
}

.cancel {
    background-color: #ffbebe;
}
